@keyframes SpawnNext {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .NextMenu {
        display: none;
    }
}

.NextMenu {
    animation: SpawnNext 0.25s ease-out 1 forwards;
    position: absolute;
    height: 500px;
    width: 25%;
    right: 0%;
    top: 25%;
    opacity: 25%;
    transform: scale(50%);
    white-space: nowrap;
    overflow: hidden;
}

.NextMenu ul {
    list-style-type: none;
}

.NextMenu h1 {
    width: auto;
    text-align: left;
    margin-left: 40px;
}